In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import Normalizer
from sklearn import metrics
from sklearn.datasets import fetch_20newsgroups
from sklearn.pipeline import Pipeline

from sklearn.cluster import MiniBatchKMeans
from sklearn.decomposition import NMF, LatentDirichletAllocation

from sklearn.naive_bayes import MultinomialNB

import numpy as np
import pandas as pd
import os
import json

In [16]:
def get_news(path):
    doc = []
    content = []
    for t in os.listdir(path):
        with open(path+t, "r", encoding="utf-8") as f:
            doc.append(int(t[:-4]))
            content.append(f.read())
    return pd.DataFrame({'doc': doc, 'content': content})

In [17]:
training = get_news("data/news/training/")

In [18]:
training.head()

   doc                                            content
0    1  Trump Just Insulted Millions Who Lost Everythi...
1   10  Famous dog killed in spot she waited a year fo...
2  100  House oversight panel votes Clinton IT chief i...
3  101  America Just Tragically Lost A Country Music I...
4  102  Monuments to the Battle for the New South\n\nV...

In [19]:
test = get_news("data/news/test/")

In [20]:
test.head()

   doc                                            content
0  113  Robert Kennedy Would Have Hated Donald Trump\n...
1  114  Is West Virginia Holding America’s Weirdest El...
2  116  Pence: There's too much talk of police departm...
3  117  Trump Jr. Once Again Shows His Lack Of Humanit...
4  125  Lady Gaga Reveals Plan To Cover Her Face Again...

In [21]:
labels_training = pd.read_table("data/labels_training.txt", sep=",")
random_submission = pd.read_table("data/random_submission.txt", sep=",")
newsUser = pd.read_table("data/newsUser.txt", sep="\t", names=["doc", "user"])
userUser = pd.read_table("data/UserUser.txt", sep="\t", names=["user", "user 1"])

In [22]:
labels_training.head()

   doc  class
0    1      0
1    3      0
2    5      0
3    6      0
4    8      0

In [23]:
data_training = pd.merge(labels_training, training, on="doc")
data_test = pd.merge(random_submission, test, on="doc")

In [24]:
data_training.head()

   doc  class                                            content
0    1      0  Trump Just Insulted Millions Who Lost Everythi...
1    3      0  'Locked the black bitch out': White students u...
2    5      0  Howard Dean ROASTS Trump Over Debate Sniffles:...
3    6      0  New York Times Will FINALLY Start Calling Trum...
4    8      0  Trump Said Not Paying Taxes Makes Him "Smart."...

In [25]:
data_test.head()

   doc  class                                            content
0    2      0  Trump Campaign Chair Says Racism Didn't Exist ...
1    4      1  Massive Protests Erupt In North Carolina After...
2    7      1  Conservatives Throw A Hissy Fit Because Michel...
3   16      0  Clinton on Trump's birther claim: A 'racist li...
4   17      0  When does early voting start in every state?\n...

In [38]:
text_clf = Pipeline([('vect', CountVectorizer(stop_words='english')), ('tfidf', TfidfTransformer()), 
                     ('clf', MultinomialNB())])
text_clf = text_clf.fit(data_train.content, data_train['class'])
predicted = text_clf.predict(data_test.content)
np.mean(predicted == data_test['class'])

0.5106382978723404

In [34]:
from sklearn.linear_model import SGDClassifier
text_clf_svm = Pipeline([('vect', CountVectorizer()), ('tfidf', TfidfTransformer()),
                         ('clf-svm', SGDClassifier(loss='hinge', penalty='l2',alpha=1e-3, max_iter=5, random_state=42))])

In [37]:
text_clf_svm = text_clf_svm.fit(data_train.content, data_train['class'])
predicted_svm = text_clf_svm.predict(data_test.content)
np.mean(predicted_svm == data_test['class'])

0.46808510638297873